## Ignore all files
/*

## Include project files
!/src/
!/target/
!pom.xml
!.dockerignore
!.gitignore
!.env
!Dockerfile
!docker-compose.yml
!lombok.config
!Procfile
!Makefile
!README.md

## Exclude IDE files
# JetBrains
*.iml