## Ignore all files
/*

## Include project files
!/src/

# Backend
!pom.xml
!system.properties

# Frontend
!package.json
!webpack.config.js
!tsconfig.json

# Infrastructure
!.env
!.editorconfig
!Procfile
!Makefile
!Dockerfile
!docker-compose.yml
!.gitignore
!.dockerignore

# Documentation
!README.md
!CONTRIBUTING.md

# Test API example
!src/main/http/example.http

# Maven wrapper
!mvnw
!mvnw.cmd
!.mvn

## Exclude IDE files
# JetBrains
*.iml
